<% if @resource.new? %>
	<form class="resource" method="post"  enctype="multipart/form-data" action="<%= model_path(@resource.class) %>">
<% else %>
	<form class="resource" method="post"  enctype="multipart/form-data" action="<%= model_path(@resource.class) %>/<%= @resource.id %>">
	<input type="hidden" name="_method" value="put">
<% end %>

<%= partial(:errors) %>

	<table>

	<% @resource.class.field_names.each do |p| %>
		<% @p = p %>	
		<% next if %w(id _id created_at _created_at _type).include?(@p.to_s) %>
		<tr>
			<td class="left-col"><%= @p.to_s %> <small>(<%= @resource.send(p).class.name %>)</small></td>
			<td class="right-col"><%= partial(:field) %></td>
		</tr>
	<% end %>

	</table>

	<p class="submit">
		<input type="submit" value="Submit" />
	</p>

</form>
