<%= partial(:subtypes) if !params[:association] and @subtypes.any? %>

<%= partial(:search) %>
<a class="edit-button" href="#" title="Enables in-place editing of editable fields" onclick="Bowtie.toggleEditableMode(this); return false;">Edit Mode OFF</a>

<h1><%= total_entries(@resources) %> <%= @title || @model.name.pluralize %> <a href="<%= model_path %>/new">(new)</a></h1>

<% if @resources.any? %>

	<%= show_pager(@resources, request.path_info) %>

	<%= partial(:table) %>

	<%= show_pager(@resources, request.path_info) %>

<% else %>

	<h2>No records found.</h2>

<% end %>
