<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title><%= action_name %> - <%= app_name %></title>
	<link rel="stylesheet" href="<%= base_path %>/css/chosen.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="<%= base_path %>/css/bowtie.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body>

<%= partial(:flash) %>

<div id="header">

	<h1>
		<a href="<%= base_path %>"><%= app_name %></a>
	</h1>

	<ul class="nav">
	<% mappings.each do |linkable, model| %>
	<li class="<%= 'current' if @model && @model == model %>"><a href="<%= linkable_path(linkable) %>"><%= model.pluralize %></a></li>
	<% end %>
	</ul>

</div><!-- /header -->

<div id="container">
	<%= yield %>
</div><!-- /container -->

<div id="footer">
	<p>(c) <a href="http://forkhq.com">Fork Ltd.</a></p>
</div><!-- /footer -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="<%= base_path %>/js/jquery.jeditable.pack.js"></script>
<script type="text/javascript" src="<%= base_path %>/js/jquery.tablesorter.pack.js"></script>
<script type="text/javascript" src="<%= base_path %>/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="<%= base_path %>/js/bowtie.js"></script>

</body>
</html>
