	<table class="sortable">
		<thead>
			<tr>
			<th title="<%= @model.primary_key %>" class="<%= @model.primary_key %>-col"><%= @model.primary_key.to_s.upcase %></th>

			<% @model.field_names.each do |f| %>
				<% next if f == @model.primary_key or f.to_s[/_id$/] or f.to_s == '_type' %>
				<th class="<%= f.to_s %>-col"><%= f.to_s.titleize %></th>
			<% end %>

			<% unless params[:association] %>
			<% @model.model_associations.each do |rel_name, assoc| %>
				<%= render_assoc_header(rel_name, assoc) %>
			<% end %>
			<% end %>

			<th class="actions" colspan="2">&nbsp;</th>
			</tr>
		</thead>

		<tbody>
		<% @resources.each do |@r| %>
			<%= partial(:row) %>
		<% end %>
		</tbody>

	</table>
