	<table class="sortable">
		<thead>
			<tr>
			<th title="<%= @model.primary_key %>" class="<%= @model.primary_key %>-col"><%= @model.primary_key.to_s.upcase %></th>

			<% @resources.first.attributes.each do |k, v| %>
				<% next if k.to_s == 'id' or k.to_s[/id$/] or k == '_type' or v.class == Array %>
				<th title="<%= v.class.to_s %>" class="<%= k.to_s %>-col"><%= k.to_s.titleize %></th>
			<% end %>

			<% unless params[:association] %>
			<% @resources.first.class.associations.each do |rel_name, assoc| %>
				<% next if Bowtie.belongs_to_association?(assoc) %>
				<%= render_assoc_header(rel_name, assoc) %>
			<% end %>
			<% end %>

			<th class="actions" colspan="3">&nbsp;</th>
			</tr>
		</thead>

		<tbody>
		<% @resources.each do |@r| %>
			<%= partial(:row) %>
		<% end %>
		</tbody>

	</table>
