	<table class="sortable">
		<thead>
			<tr>
			<th title="<%= @model.primary_key %>" class="<%= @model.primary_key %>-col"><%= @model.primary_key.to_s.upcase %></th>

			<!-- filter id, _type and associations -->
			<% @resources.first.attributes.each do |k, v| %>
				<% next if k.to_s == 'id' or k.to_s[/id$/] or k == '_type' or v.class == Array %>
				<th title="<%= v.class %>" class="<%= k.to_s %>-col <%= v.class.name.downcase %>"><%= k.to_s.titleize %></th>
			<% end %>

			<% unless params[:association] %>
			<% @resources.first.class.model_associations.each do |rel_name, assoc| %>
				<%= render_assoc_header(rel_name, assoc) %>
			<% end %>
			<% end %>

			<th class="actions" colspan="2">&nbsp;</th>
			</tr>
		</thead>

		<tbody>
		<% @resources.each do |@r| %>
			<%= partial(:row) %>
		<% end %>
		</tbody>

	</table>
